<sly data-sly-use.player="${'com.coresecure.brightcove.wrapper.models.ExperiencePlayer'}">

    <sly data-sly-test="${!player.hasSize}">
        <style type="text/css">
            #component-wrap-${player.componentID @context='unsafe'} {

            }
        </style>
    </sly>

    <style type="text/css">

        #component-wrap-${player.componentID @context='unsafe'} .player-embed-wrap {
            margin-bottom: 0;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
            overflow-x: hidden;
            overflow-y: hidden;
            width: 100%;
            text-align: left;
        }

        #component-wrap-${player.componentID @context='unsafe'}.brc-align-left .player-embed-wrap {
            margin-left: 0;
        }

        #component-wrap-${player.componentID @context='unsafe'}.brc-align-right .player-embed-wrap {
            margin-right: 0;
        }

        #component-wrap-${player.componentID @context='unsafe'}.brc-align-center .player-embed-wrap iframe {
            width: 100%;
        }

        #component-wrap-${player.componentID @context='unsafe'}.brc-align-left .player-embed-wrap iframe {
            margin-left: 0;
            text-align: left;
        }

        #component-wrap-${player.componentID @context='unsafe'}.brc-align-right .player-embed-wrap iframe {
            margin-right: 0;
            text-align: right;
        }


    </style>

</sly>
