scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/brightcove_assets
        create path (nt:unstructured) /content/dam/brightcove_assets/jcr:content
        set properties on /content/dam/brightcove_assets/jcr:content
                set cq:conf{String} to /conf/brightcove
                set jcr:title{String} to \"Brightcove Connector\"
        end
        create service user brightcove_admin
        set ACL on /content
                allow jcr:read for brightcove_admin
                allow jcr:write for brightcove_admin
                allow crx:replicate for brightcove_admin
                allow rep:write for brightcove_admin
        end
        "
]