<sly  data-sly-use.player="${'com.coresecure.brightcove.wrapper.models.VideoPlayer'}">

    <sly data-sly-test="${!player.hasSize}">
        <style type="text/css">
            #component-wrap-${player.componentID @context='unsafe'} .brightcove-container .video-js {
                display: block;
                position: relative;
                margin: 20px auto;

                width: 55%;
                height: 100%;
            }

            #component-wrap-${player.componentID @context='unsafe'}.brc-align-center .brightcove-container .video-js {
                width: 80%;
            }

            #component-wrap-${player.componentID @context='unsafe'} .brightcove-container .video-js:after {
                padding-top: 56.25%;
                display: block;
                content: '';
            }


        </style>
    </sly>

    <style type="text/css">

        #component-wrap-${player.componentID @context='unsafe'} {

        }

        #component-wrap-${player.componentID @context='unsafe'} .brightcove-container,
        #component-wrap-${player.componentID @context='unsafe'} .brightcove-container .player-embed-wrap {
            width: 100%;
        }

        #component-wrap-${player.componentID @context='unsafe'} .brightcove-container .video-js {
            margin-bottom: 0;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0;
            overflow-x: hidden;
            overflow-y: hidden;
            width: 55%;
            display: inline-block;
        }

        #component-wrap-${player.componentID @context='unsafe'} .brightcove-container .playlist-wrapper {
            display: inline-block;
            width: 42%;
            margin-left: auto;
            margin-right: auto;
        }

        #component-wrap-${player.componentID @context='unsafe'} .brightcove-container .playlist-wrapper .vjs-playlist{
            margin:0;
        }

        /**
         * Alignment Rules
         ******************/

        /* Left */
        #component-wrap-${player.componentID @context='unsafe'}.brc-align-left .brightcove-container .video-js {
            margin-left: 0;
            float: left;
        }

        #component-wrap-${player.componentID @context='unsafe'}.brc-align-left .brightcove-container .playlist-wrapper {
            float: right;
        }

        /* Right */
        #component-wrap-${player.componentID @context='unsafe'}.brc-align-right .brightcove-container .video-js {
            margin-right: 0;
            float: right;
        }

        #component-wrap-${player.componentID @context='unsafe'}.brc-align-right .brightcove-container .playlist-wrapper {
            float: left;
        }

        /* Center */
        #component-wrap-${player.componentID @context='unsafe'}.brc-align-center .brightcove-container .video-js {
            display: block;
            width: 100%;
        }

        #component-wrap-${player.componentID @context='unsafe'}.brc-align-center .brightcove-container .playlist-wrapper {
            width: 100%;
            display: block;
            margin-top:10px;
        }

        /**
         * Edit mode Styles
         **/
        #component-wrap-${player.componentID @context='unsafe'} .drop-target-video{
            width:100%;
        }

    </style>

</sly>
