body {
  background-color: #c3ddf6;
  font-family: adobe-clean,Helvetica,Arial,sans-serif;
}

#brightcove input, #brightcove button, #brightcove select, #brightcove textarea {
  font-family: adobe-clean,Helvetica,Arial,sans-serif;
}

#CQ {
  display: none;
  background: url("/libs/cq/ui/resources/titlebar.png") repeat scroll 0 0 transparent;
  height: 36px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:999999;
}

.navbar {
  background: #080886;
}

.navbar-inner {
  padding: 7px 20px;
  border-radius: 0px;
  background: #080886;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, .11);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .11);
  -ms-box-shadow: 0px 2px 10px rgba(0, 0, 0, .11);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .11);

}

.navbar .nav > li > a {
  float: none;
  padding: 9px 10px 11px;
  line-height: 19px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}

.navbar .nav > li > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
}

a.home {
  cursor: pointer;
  display: block;
  height: 36px;
  width: 180px;
}

table.tblDocHead {
  background-color: #3b3b3b;
  border: 0;
  color: White;
  font-size: 16px;
  width: 100%;
}

table.tblConsole {
  background-color: #e5e5e5;
  color: #3b3b3b;
  font-size: 16px;
  width: 100%;
  border-style: none;
}

tr.trCenterHeader {
  background-color: #fff;
}

#tblMainList {
  overflow: auto;
  table-layout: auto;
  height: 100%;
  width: 100%;
}

td.tdMainMenu {
  padding: 1em;
  border-style: solid;
  border-right-width: 1px;
  border-right-color: #000000;
}

td.tdMainMenu div {
  cursor: pointer;
}

td.tdMetadata {
  padding: 0em 1em;
  overflow: auto;
  background-color: #ffffff;
  border-style: solid;
  border-left-width: 1px;
  border-left-color: #000000;
  height: 100%;
  color: grey
}

#tdMeta div {
  color: black;
}

thead tr {
  background-color: #e5e5e5;
}

tr.oddLine {
  background-color: #ffffff;
}

tr.evenLine {
  background-color: #e5e5e5;
}

tr.hover {
  background-color: #B0C4DE;
}

tr.select {
  background-color: #6495ED;
}

th.headerSortUp {
  background-color: #6495ED;
}

th.tdMainTableHead {
  margin-top: 4px;
  border-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-color: #000000;
  border-top-width: 1px;
  border-top-color: #000000;
  border-right-width: 0px;
  background-color: #e5e5e5;
  font-weight: normal;
  text-align: left;

}

button {
  background-color: #F0F8FF;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 2px;
  width: auto;
  overflow: visible;
}

div.overlay {
  position: absolute;
  z-index: 9002;
}

#loadAlert {
  background-color: #5F9EA0;
  border-color: #8B0000;
  border-style: solid;
  height: 25;
  width: 150;
}

#uploadDiv {
  width: 600px;
  background-color: #fff;
  border-color: #333333;
  border-style: solid;
  border: 0;
  padding: 0 30px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
  -ms-box-shadow: 0px 2px 10px rgba(0, 0, 0, .5);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .5);
}

#createPlaylistDiv {
  /*height: 530px;*/
  width: 500px;
  background-color: #fff;
  border-color: #333333;
  border-style: solid;
  border: 0;
  font-size: 1rem;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
  -ms-box-shadow: 0px 2px 10px rgba(0, 0, 0, .5);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .5);
}

#uploadStatus {
  background-color: #ffffff;
  border-color: #333333;
  border-style: solid;
  width: 110px
}

#metaEditPop {
  background-color: #fff;
  width: 500px;
  height: 600px;
  border-color: #333333;
  border-style: solid;
  overflow: auto;
  padding: 0 30px;
  border: 0;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
  -ms-box-shadow: 0px 2px 10px rgba(0, 0, 0, .5);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .5);
}

#playerDiv {
  background-color: #e5e5e5;
  height: 336px;
  border-color: #333333;
  border-style: solid;
}

#shareVideoDiv {
  background-color: #e5e5e5;
  border-color: #333333;
  border-style: solid;
  width: 500px;
}

#getUplStatus {
  background-color: #e5e5e5;
  border-color: #333333;
  border-style: solid;
  padding: 5px;
}

#screen {
  background-color: #111;
  opacity: 0.65;
  position: absolute;
  z-index: 9001;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

div.delConfPop {
  background-color: #ffffff;
  border-color: red;
  border-style: solid;
  padding: 5px;
}

#loading {
  display: none;
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  color: #283E5E;
  float: right;
  position: fixed;
  right: 5px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  top: 60px;
}

#loading {
  display: none;
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  color: #283E5E;
  float: right;
  position: fixed;
  right: 5px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  top: 60px;
    z-index:9999999;
}

#progress {
  position: relative;
  left: 0%;
  border-color: blue;
  border-style: solid;
  height: 5px;
  width: 20%;
  background-color: blue;
  float: left;
}

.pageDiv {
  float: right;
  padding: 5px 3px 5px 0px;
}

.butDiv {
  padding: 5px;
  float: left;
  padding-left: 0px;
}

.tbInput table {
  border-collapse: separate;
  border-spacing: 0px 5px;
  width: 100%;
  padding: 5px;
}

/*default background color*/
.tbInput table tr {
  background-color: #fff;
}

/*background color for required fields*/
.tbInput table tr.requiredFields {
  background-color: #fff;
}

.tbInput table input {
  width: 90%;
}

.tbInput fieldset {
  background-color: #fff;
  padding: 5px;
  height: 35%;
  overflow: auto;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  color: #5F9CE3;
}

.subTitle {
  font-style: italic;
  font-size: 12;
}

#searchDiv {
  margin-top: 10px;
}

#searchDiv_pl {
  margin-top: 4px;
}

#searchDiv #searchBut {
  top: -2px;
  position: relative;
}

#searchDiv_pl #searchBut {
  top: 3px;
  position: relative;
}

#searchDiv select, #searchDiv_pl select, #search_pl {
  height: 30px;
}

#divMeta.shortDescription pre {
  white-space: pre-wrap;
  margin-top: 5px;
}

.hdr-labels {
  display: flex;
  justify-content: space-between;
}

/* Create Playlist Styles */
.pml-dialog .input-playlist-name, .pml-dialog .input-label-name {
  display: block;
  width: 100%;
  margin-top: 10px;
}

.pml-dialog .error {
  border: 1px solid red;
}

div.hLine {
  border-color: white;
  border-style: solid;
}

#brightcove {
  position: relative;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  background: #fff;
  top: 10px;
}

.foundation-layout-panel-content {
	overflow: hidden;
}

.foundation-layout-util-maximized-alt {
  height: auto;
}

#bmetaEdit {
  display: inline-block;
  *display: inline;
  padding: 5px 20px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 11px;
  font-weight: bold;
  text-shadow: -1px -1px #fff;
  line-height: 18px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: arial;
  width: 100%;
}

#uploadtrackbutton,#text_track {
  list-style: none;
  display: inline-block;
  *display: inline;
  padding: 5px 20px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 11px;
  font-weight: bold;
  text-shadow: -1px -1px #fff;
  line-height: 18px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: arial;
  width: 100%;
}

#sendtrackbutton {
  /*display: inline-block;*/
  *display: inline;
  padding: 5px 20px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 11px;
  font-weight: bold;
  text-shadow: -1px -1px #fff;
  line-height: 18px;
  *line-height: 20px;
  color: #45c34f;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: arial;
  width: 50%;
}








#delButton,
#uplButton,
#newplstButton,
#btn_MoveVideoToFolder,
#syncdbutton,
#uploadtrackbutton,
#text_track,
#searchBut,
.btn,
.btn:hover,
#bmetaSubmit,
#bmetaCancel,
#startUploadButton,
#cancelUploadButton,
#createPlstSubmit,
#createPlstCancel {
  display: inline-block;
  *display: inline;
  padding: 5px 20px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 11px;
  font-weight: bold;
  text-shadow: -1px -1px #fff;
  line-height: 18px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  text-transform: uppercase;
  font-family: arial;
}

#syncdbutton
{
  margin-right: 8px;
  padding: 10px 20px;
}


tr.trCenterHeader {
  background-color: #C3DDF6;
}

#headTitle {
  padding: 10px 10px 0 10px;
  text-transform: uppercase;
}

#divVideoCount {
  padding: 0 10px 10px 10px;
  font-size: 12px;
  text-transform: uppercase;
}

td.tdMetadata, th#trHeader {
  padding: 0 20px;
  overflow: hidden;
  border: 0;
  background-color: #ffffff;
  border-style: solid;
  border-left-width: 0px;
  border-left-color: #eee;
  height: 100%;
  color: grey;
  margin-left: 20px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, .11);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .11);
  -ms-box-shadow: 0px 2px 10px rgba(0, 0, 0, .11);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .11);
}

.thumbnail {
  display: block;
  padding: 2px;
  line-height: 1;
  border: 1px solid #ddd;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075);
}

.thumbnail a {
  display: block;
}

input#search {
  height: 30px;
}

tr.select {
  background-color: #5F9CE3;
  color: #fff;
}

tr.hover {
  background-color: #eee;
  color: #000;
}

#trHeader .tdMainTableHead {
  background-color: #080886;
  color: #fff;
  padding: 5px;
  border: 0;
  border-bottom: 1px solid #fff;
}

table.tblConsole {
  background-color: #fff;
  color: #3b3b3b;
  font-size: 13px;
  width: 100%;
  border-style: none;
}

table.tblConsole #tbData td {
  border-bottom: 1px solid #eee;
  line-height: 1.8;
}

#playerDiv.overlay.ui-draggable {
  padding: 20px;
}

#playerDiv {
  border: 0;
  background: #fff;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
  -ms-box-shadow: 0px 2px 10px rgba(0, 0, 0, .5);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .5);
}

#previewClose {
  background: #fff;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  text-transform: uppercase;
  margin-bottom: 0px;
  margin-top: 15px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: normal;
  font-weight: bold;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

div.delConfPop {
  background-color: #ffffff;
  border-color: red;
  border-style: solid;
  padding: 20px;
  border: 0;
  background: #fff;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
  -ms-box-shadow: 0px 2px 10px rgba(0, 0, 0, .5);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .5);
}

#uploadImageDiv {
  background-color: #FFFFFF;
  border: 0 none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  padding: 0 30px;
  width: 600px;
}

#uploadVideoImageDiv {
  background-color: #FFFFFF;
  border: 0 none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  padding: 0 30px;
  width: 600px;
}

th.sortable.ASC span.order {
  background: url("../img/asc.png") right center no-repeat;
  padding-right: 20px;
}

th.sortable.DESC span.order {
  background: url("../img/desc.png") right center no-repeat;
  padding-right: 20px;
}

th.sortable.NONE span.order {
  background: url("../img/none.png") right center no-repeat;
  padding-right: 20px;
}

img.optionsIcon {
  width: 28px;
  height: 28px;
}



/**
 * Box model adjustments
 * `border-box`... ALL THE THINGS - http://cbrac.co/RQrDL5
 */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * 1. Force a vertical scrollbar - http://cbrac.co/163MspB
 * NOTE: Use `text-rendering` with caution - http://cbrac.co/SJt8p1
 * NOTE: Avoid the webkit anti-aliasing trap - http://cbrac.co/TAdhbH
 * NOTE: IE for Windows Phone 8 ignores `-ms-text-size-adjust` if the
 *       viewport <meta> tag is used - http://cbrac.co/1cFrAvl
 */

html {
  font-size: 100%;
  overflow-y: scroll; /* 1 */
  min-height: 100%;
}

/**
 * 1. Inherits percentage declared on above <html> as base `font-size`
 * 2. Unitless `line-height`, which acts as multiple of base `font-size`
 */

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 1em;   /* 1 */
  line-height: 1.5; /* 2 */
  color: #444;
}

/* Page wrapper */
.wrapper {
  width: 90%;
  max-width: 800px;
  margin: 4em auto;
  text-align: center;
}

/* Icons */
.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  fill: currentcolor;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  font-weight: 700;
  font-family: inherit;
  line-height: 1.333;
  text-rendering: optimizeLegibility;
}

/**
 * Modals ($modals)
 */

/* 1. Ensure this sits above everything when visible */
.modal {
  position: absolute;
  z-index: 10000; /* 1 */
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
}

.modal.is-visible {
  visibility: visible;
}

.modal-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.modal.is-visible .modal-overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.modal-wrapper {
  position: absolute;
  z-index: 9999;
  top: 6em;
  left: 50%;
  width: 32em;
  margin-left: -16em;
  background-color: #fff;
  box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
}

.modal-transition {
  transition: all 0.3s 0.12s;
  transform: translateY(-10%);
  opacity: 0;
}

.modal.is-visible .modal-transition {
  transform: translateY(0);
  opacity: 1;
}

.modal-header,
.modal-content {
  padding: 1em;
}

.modal-header {
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.06);
  border-bottom: 1px solid #e8e8e8;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  color: #aaa;
  background: none;
  border: 0;
}

.modal-close:hover {
  color: #777;
}

.modal-heading {
  font-size: 1.125em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-content > *:first-child {
  margin-top: 0;
}

.modal-content > *:last-child {
  margin-bottom: 0;
}



.tg  {width: 100%; border-collapse:collapse;border-spacing:0;border-color:#ccc;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
.tg .tg-uqo3{background-color:#efefef;text-align:center;vertical-align:top}
.tg .tg-baqh{text-align:center;vertical-align:middle}





.tg .tg-baqh.delete_button
{
  background-color: #f44336; /* Red */
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}
/*Improved Brightcove Themed Loader Modal*/



body {
  margin: 0;
  padding: 0;
}

.loading {
  display: none;
}
.loading .loader {
  top: 0;
  left: 0;
  z-index: 9999999999;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.loading .loader #brightcode {
  max-width: 120px;
  max-height: 120px;
  height: 120px;
  width: 120px;
}
.loading .loader #brightcode .cls-1,
.loading .loader #brightcode .cls-2,
.loading .loader #brightcode .cls-3 {
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}
.loading .loader #brightcode .cls-1 {
  fill: #099ab1;
}
.loading .loader #brightcode .cls-2 {
  fill: #94bf3b;
}
.loading .loader #brightcode .cls-3 {
  fill: #d3277c;
}
.loading .loader #brightcode .shape-1 {
  animation-name: shape1;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.loading .loader #brightcode .shape-2 {
  animation-name: shape2;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.loading .loader #brightcode .shape-3 {
  animation-name: shape3;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.loading .loader #brightcode .shape-4 {
  animation-name: shape4;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.loading .loader #brightcode .shape-5 {
  animation-name: shape5;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.loading .loader #brightcode .shape-6 {
  animation-name: shape6;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
@-webkit-keyframes shape1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  4%,
  100% {
    opacity: 0.9;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes shape1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  4%,
  100% {
    opacity: 0.9;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes shape2 {
  0%,
  4% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  8%,
  100% {
    opacity: 0.9;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes shape2 {
  0%,
  4% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  8%,
  100% {
    opacity: 0.9;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes shape3 {
  0%,
  8% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  12%,
  100% {
    opacity: 0.9;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes shape3 {
  0%,
  8% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  12%,
  100% {
    opacity: 0.9;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes shape4 {
  0%,
  12% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  16%,
  100% {
    opacity: 0.9;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes shape4 {
  0%,
  12% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  16%,
  100% {
    opacity: 0.9;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes shape5 {
  0%,
  16% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  20%,
  100% {
    opacity: 0.9;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes shape5 {
  0%,
  16% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  20%,
  100% {
    opacity: 0.9;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes shape6 {
  0%,
  20% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  24%,
  100% {
    opacity: 0.9;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes shape6 {
  0%,
  20% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  24%,
  100% {
    opacity: 0.9;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

#upload_text_track_form .coral3-Overlay {
  top: 0 !important;
  left: 0 !important;
}

.coral-Form--vertical .coral-Form-fieldwrapper {
  margin: 0.75rem 0;
}

.coral-Form--vertical .coral-Form-fieldwrapper .coral3-Checkbox-description {
  display: inline;
  color: #6d6d6d;
}

.coral-Form--vertical .or_field_split {
  display: flex;
  padding-bottom: 1rem;
}

.coral-Form--vertical .or_field_split .coral3-FileUpload {
  margin-top: 1.25rem;
}

.coral-Form--vertical .or_field_split > div {
  flex: 1;
  width: 50%;
}
.coral-Form--vertical .or_field_split > div:last-child {
  padding-left: 3rem;
  margin-left: 3rem;
  border-left: 1px solid #ccc;
}

.coral-Form--vertical .or_field_split > div:last-child::before {
  content: 'OR';
  position: absolute;
  top: calc(50% - 10px);
  display: block;
  left: -12px;
  background: white;
  padding: 0.25rem;
}

#upload_text_track_dialog .coral3-Dialog-wrapper {
  min-width: 35rem !important;
}

.butDiv > span {
  display: inline-block;
  position: relative;
}

.butDiv > span > div.menu {
  display: none;
  position: absolute;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  min-width: 200px;
}

.butDiv > span > div.menu.open {
  display: block;
}

.butDiv > span > div.menu .menu-options {
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;
}

.butDiv > span > div.menu .menu-options .menu-option {
  padding: 0.5rem 1rem 0.5rem 2.25rem;
  background: transparent url(/etc/designs/cs/brightcove/shared/img/folder.svg) 0.5rem no-repeat;
}

.butDiv > span > div.menu .menu-options .menu-option.remove {
  padding: 0.5rem 1rem 0.5rem 2.25rem;
  background: transparent url(/etc/designs/cs/brightcove/shared/img/folder-delete.svg) 0.5rem no-repeat;
}

.butDiv > span > div.menu .menu-options .menu-option:hover {
  background: rgba(0, 0, 0, 0.1) url(/etc/designs/cs/brightcove/shared/img/folder-open.svg) 0.5rem no-repeat;
  cursor: pointer;
}

.butDiv > span > div.menu .menu-options .menu-option.remove:hover {
  background: rgba(0, 0, 0, 0.1) url(/etc/designs/cs/brightcove/shared/img/folder-delete.svg) 0.5rem no-repeat;
  cursor: pointer;
}

#tbData span.playlist-actions {
  position: relative;
  top: -2px;
  float: right;
}

#tbData .state-inactive {
  /* color: #656565; */
}

#tbData .state-inactive td:nth-child(2)::after {
  content: 'INACTIVE';
  position: relative;
  left: 5px;
  display: inline;
  color: #777;
  padding: 1px 4px 2px 4px;
  background: #f5f5f5;
  border-radius: 2px;
}

#tbData .state-clip td:nth-child(2)::after {
  content: 'CLIP';
  position: relative;
  left: 5px;
  display: inline;
  color: #777;
  padding: 1px 4px 2px 4px;
  background: #f5f5f5;
  border-radius: 2px;
}

.pml-dialog {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow: hidden;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.25);
}

.pml-dialog_container {
  position: absolute;
  width: 36vw;
  min-height: 20vh;
  top: calc(50% - 10vh);
  left: calc(50% - 18vw);
  background: #fff;
  font-size: 1rem;
  flex-direction: column;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.pml-dialog_header {
  background: #f1f1f1;
  padding: 1rem;
  font-weight: bold;
  height: auto;
}

.pml-dialog_content {
  padding: 1rem;
  flex: 1;
}

.pml-dialog_content input[name*='plst'] {
  width: 100%;
}

.pml-dialog_footer {
  padding: 0.5rem 1rem;
  text-align: right;
  height: auto;
  background: #f1f1f1;
}

.pml-dialog_footer .btn:hover {
  background: -webkit-linear-gradient(top, #ffffff, #e5e5e5);
}

.pml-dialog_footer .btn-secondary,
.pml-dialog_footer .btn-secondary:hover {
  background: none;
  border: 0;
  box-shadow: none;
}

.pml-dialog .playlist-listing {
  margin: 0;
  margin-top: 1rem;
}

.pml-dialog .playlist-add-input input {
  width: 100%;
  font-size: 1rem;
  font-family: adobe-clean,Helvetica,Arial,sans-serif;
  padding: 2px 6px;
  height: 30px;
}

.pml-dialog .playlist-add-input .autocomplete {
  position: relative;
  width: 100%;
  background: #fff;
  margin: 0;
}

.pml-dialog .playlist-add-input .autocomplete .autocomplete-item {
  cursor: pointer !important;
  background-color: #e4eaf3;
  cursor: move;
  margin: 4px 0;
  padding: 2px 8px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  line-height: 1.7;
}

.pml-dialog .playlist-listing li {
  display: flex;
  justify-content: space-between;
  line-height: 1.7;
}

.pml-dialog .playlist-listing li {
  cursor: move;
  margin: 4px 0;
  background: #f6f6f6;
  padding: 2px 8px;
  border-radius: 4px;
}

.pml-dialog .playlist-listing li span .handle {
  height: 15px;
  width: 15px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #f5f5f5)), -webkit-gradient(linear, left top, right top, color-stop(50%, #bebebe), color-stop(50%, transparent));
  background-image: linear-gradient(top, transparent 50%, #f5f5f5 50%), linear-gradient(left, #bebebe 50%, transparent 50%);
  background-size: 50px 5px, 5px;
  background-color: #f5f5f5;
  border: 3px solid #f5f5f5;
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: .2rem;
}

/* ---------- END NEW CSS --------------- */

