scripts=[
        "
        create service user brightcove_admin
        set ACL on /home/groups
                allow jcr:read for brightcove_admin restriction(rep:ntNames,rep:Group,rep:AuthorizableFolder,rep:MemberRefsList,rep:MemberRefs)
                deny jcr:read for brightcove_admin restriction(rep:glob,*/profile*)
        end
        set ACL on /home/users
                allow jcr:read for brightcove_admin restriction(rep:ntNames,rep:User,rep:SystemUser,rep:AuthorizableFolder)
                deny jcr:read for brightcove_admin restriction(rep:itemNames,rep:password)
                deny jcr:read for brightcove_admin restriction(rep:glob,*/.tokens*)
                deny jcr:read for brightcove_admin restriction(rep:glob,*/keystore*)
                deny jcr:read for brightcove_admin restriction(rep:glob,*/profile*)
        end
        "
]
