defVideoPlayerID=""
writetoken=""
defPlaylistPlayerID=""
previewPlayerListLoc="http://link.brightcove.com/services/player/bcpid1154829529001"
readtoken=""
previewPlayerLoc="http://link.brightcove.com/services/player/bcpid1154829530001"
defPlaylistPlayerKey=""
playersstore="/content/brightcovetools/players"
defVideoPlayerKey=""
