<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" 
 data-sly-use.playerConfig="${'com.coresecure.brightcove.wrapper.models.VideoPlayerConfiguration'}">

 <script src="/libs/cq/ui/resources/cq-ui.js" type="text/javascript"></script>

       <style type="text/css">
            #header {
            	display: none;
            }
            .edit-box {
                width: 75%;
            }
            
        </style>

<h1>Brightcove Player Config | &quot;${playerConfig.title}&quot;</h1>

<div class="definition-container">
        <p>${playerConfig.playerDescription}</p>
    </div>

    <h2 class="no-icon">Player ID</h2>
    <p>Use the Page Properties editor to edit the Player ID.</p>
    <div class="edit-box">
        <strong data-sly-test.playerIDTest="${playerConfig.videoPlayer.playerID}">${playerConfig.videoPlayer.playerID}</strong>
        <strong data-sly-test.playerIDTestEmpty="${!playerConfig.videoPlayer.playerID}">NONE</strong>
    </div>

    <h2 class="no-icon">Player Key</h2>
    <p>Use the Page Properties editor to edit the Player Key.</p>
    <div class="edit-box">
            <strong data-sly-test.playerKeyTest="${playerConfig.videoPlayer.playerKey}">${playerConfig.videoPlayer.playerKey}</strong>
            <strong data-sly-test.playerKeyTestEmpty="${!playerConfig.videoPlayer.playerKey}">NONE</strong>
    </div>

    <h2 class="no-icon">Data Embed</h2>
    <p>Use the Page Properties editor to edit the Data Embed.</p>
    <div class="edit-box">
        <strong data-sly-test.dataEmbedTest="${playerConfig.videoPlayer.playerDataEmbed}">${playerConfig.videoPlayer.playerDataEmbed}</strong>
        <strong data-sly-test.dataEmbedTestEmpty="${!playerConfig.videoPlayer.playerDataEmbed}">DEFAULT</strong>
    </div>

    <h2 class="no-icon">Player Preview</h2>
    <p></p>
    <div class="edit-box">
            <sly data-sly-test="${!playerConfig.videoPlayer.playerKey}">
                <video
                        data-account="${playerConfig.videoPlayer.account}"
                        data-player="${playerConfig.videoPlayer.playerID}"
                        data-embed="${playerConfig.videoPlayer.playerDataEmbed}"
                        data-video-id=""
                        class="video-js"
                        width="${playerConfig.videoWidth}"
                        height="${playerConfig.videoHeight}"
                        class="video-js" controls>
                </video>
                <script src="//players.brightcove.net/${playerConfig.videoPlayer.account}/${playerConfig.videoPlayer.playerID}_${playerConfig.videoPlayer.playerDataEmbed}/index.min.js"></script>
            </sly>
            <sly data-sly-test="${playerConfig.videoPlayer.width && playerConfig.videoPlayer.height}">
                    <!-- DO NOT USE!!!! FOR PREVIEW PURPOSES ONLY. -->
                    <!-- Start of Brightcove Player -->
                    <div style="display:none;"></div>
                    <!--
                    By use of this code snippet, I agree to the Brightcove Publisher T and C
                    found at https://accounts.brightcove.com/en/terms-and-conditions/.
                    -->
                    <script language="JavaScript" type="text/javascript" src="https://sadmin.brightcove.com/js/BrightcoveExperiences.js"></script>

                    <object id="myExperience" class="BrightcoveExperience">
                        <param name="bgcolor" value="#FFFFFF"/>
                        <param name="width" value="${playerConfig.videoWidth}"/>
                        <param name="height" value="${playerConfig.videoHeight}"/>
                        <param name="playerID" value="${playerConfig.videoPlayer.playerID}"/>
                        <param name="playerKey" value="${playerConfig.videoPlayer.playerKey}"/>
                        <param name="isVid" value="true"/>
                        <param name="isUI" value="true"/>
                        <param name="dynamicStreaming" value="true"/>
                        <param name="cacheAMFURL" value="//share.brightcove.com/services/messagebroker/amf"/>
                        <param name="secureConnections" value="true"/>
                    </object>

                    <!--
                    This script tag will cause the Brightcove Players defined above it to be created as soon
                    as the line is read by the browser. If you wish to have the player instantiated only after
                    the rest of the HTML is processed and the page load is complete, remove the line.
                    -->
                    <script type="text/javascript">brightcove.createExperiences();</script>
                </sly>
    </div>

</sly>
